.container {
    padding: 12rem 16rem;
    background-color: #30c0e4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.container p {
    font-size: 5.5rem;
    color: #fff;
    font-weight: bold;
    margin: 0.75rem;
}
.container input {
    font-size: 2.5rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0.75rem;
}
@media (max-width: 596px) {
    .container {
        justify-content: center;
    }
    .container input {
        /* width:200px; */
        font-size: 2rem;
    }
    .container p {
        font-size: 5rem;
    }
}
@media (max-width: 440px) {
    .container {
        justify-content: center;
    }
    .container input {
        font: 1.8rem;
        width: 200px;
    }
    .container p {
        font-size: 4rem;
    }
}
