.container {
    text-align: center;
    margin: 8rem 1rem 2rem;
}
.container h3 {
    font-size: 5rem;
    color: #505050;
}
.container > div {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.container > div img {
    width: 300px;
    cursor: pointer;
}
@media (max-width: 400px) {
    .container > div img {
        width: 200px;
        cursor: pointer;
    }
}
